/*轮播图开始*/
.banner {
    width: 1349px;
    height: 450px;
    overflow: hidden;
    position: relative;
    margin: 0 auto;
}

.banner-big {
    height: 450px;
    position: absolute;
}

.banner-big img {
    width: 1349px;
    height: 450px;
}

.banner-big ul li {
    width: 1349px;
    height: 450px;
    float: left;
}

.banner img {
    width: 100%;
    margin: 0 auto;
}

.banner-small {
    position: absolute;
    top: 35px;
    right: 40px;
}

.banner-small li {
    margin-bottom: 5px;
}

.liBorder {
    border: 2px solid #ff9d00;
}

.banner-small .banner-llzm {
    width: 110px;
    height: 40px;
    background: url("../images/index-sprites3.png") no-repeat -60px -50px;
}

.banner-fonts li {
    display: none;
}

.banner-fonts .showimg {
    display: block;
}

.banner-font {
    position: absolute;
    top: 20px;
    left: 175px;
    color: white;
}

.banner-font-top {
    height: 36px;
}

.banner-font h1 {
    font-size: 30px;
    float: left;
}

.banner-font h2 {
    font-size: 20px;
    float: left;
    margin-top: 10px;
}

.banner-font h3 {
    font-size: 20px;
    height: 30px;
    line-height: 30px;
}

.banner-table {
    width: 540px;
    height: 120px;
    position: absolute;
    bottom: 25px;
    left: 50%;
    margin-left: -270px;
}

.banner-tab {
    width: 520px;
    height: 70px;
    background: rgba(0, 0, 0, 0.5);
    border-radius: 5px;
    margin-bottom: 20px;
}

.banner-table p {
    text-align: center;
    font-size: 14px;
    color: white;
}

.banner-table i {
    color: #ff9d00;
}

.banner-tab {
    padding: 10px;
}

.banner-tab ul {
    height: 25px;
    line-height: 25px;
    margin-top: 3px;
}

.banner-tab li {
    height: 25px;
    line-height: 25px;
    float: left;
    cursor: pointer;
}

.banner-tab s {
    display: inline-block;
    float: left;
    width: 18px;
    height: 18px;
    margin-right: 5px;
    background: url("../images/jltu.png") -60px -109px;
}

.banner-tab .liOne {
    background-position: -60px -140px;
}

.banner-tab p {
    float: left;
    font-size: 16px;
    color: white;
    margin-right: 25px;
    margin-top: -3px;
}

.banner-tab input {
    float: left;
    width: 455px;
    height: 40px;
    border-radius: 3px 0 0 3px;
    padding-left: 20px;
    color: #ccc;
}

.banner-tab .text1 {
    display: none;
}

.banner-tab .text11 {
    width: 220px;
    height: 40px;
    border-radius: 3px;
    padding-left: 10px;
    float: left;
    margin-right: 10px;
}

.banner-tab .text12 {
    width: 223px;
    height: 40px;
    border-radius: 3px;
    padding-left: 10px;
    float: left;
}

.banner-tab .text2 {
    display: none;
}

.banner-tab .text3 {
    display: none;
}

.search {
    width: 40px;
    height: 40px;
    background-color: #ff9d00;
    border-radius: 3px;
    cursor: pointer;
}

.search i {
    display: inline-block;
    width: 25px;
    height: 25px;
    margin-left: 8px;
    margin-top: 8px;
    background: url("../images/jltu.png") no-repeat 0 -110px;
}

/*轮播图结束*/

/*主题部分开始*/
.main {
}

.main-left {
    width: 260px;
}

.main-tv {
    width: 260px;
    height: 260px;
    margin-top: 15px;
    background: url("../images/banner01.gif") no-repeat;
}

/*旅行家traveller专栏开始*/
.traveller {
}

.traveller-con {
    height: 121px;
    position: relative;
    overflow: hidden;
}

.traveller-con ul {
    width: 1800px;
    position: absolute;
}

.traveller-con li {
    float: left;
    width: 260px;
    height: 121px;
    /*display: block;*/
}

.traveller-top {
    height: 30px;
    line-height: 30px;
}

.traveller-top h1 {
    float: left;
    font-size: 18px;
    color: #333;
    font-weight: normal;
}

.traveller-top a {
    color: #999;
    float: right;
}

/*ab写样式，traveller-img控制图片动画*/
.ab {
    width: 260px;
    height: 140px;
    overflow: hidden;
    margin-top: 10px;
    position: relative;
}

.traveller-img {
    width: 260px;
    height: 140px;
    position: absolute;
}

.traveller-img ul {
}

.traveller-img li {
    float: left;
}

.traveller-num {
    position: absolute;
    right: 10px;
    bottom: 10px;
}

.traveller-num li {
    width: 15px;
    height: 8px;
    border-radius: 3px;
    background-color: white;
    float: left;
    margin-left: 3px;
}

.traveller-num .traveller-one {
    background-color: #ff9d00;
}

.traveller-title {
    color: #333;
    font-size: 16px;
    height: 26px;
    line-height: 26px;
    margin-top: 10px;
    margin-bottom: 5px;
}

.traveller-introduce {
    line-height: 20px;
    font-size: 14px;
    height: 90px;
}

/*旅行家traveller专栏结束*/

/*旅行攻略strategy推荐开始*/
.strategy-mid {
    width: 120px;
    height: 184px;
    padding-left: 140px;
    margin-top: 10px;
    background: url("../images/gl01.jpeg") no-repeat;
    overflow: hidden;
}

.strategy-mid h1 {
    font-size: 22px;
    line-height: 22px;
    margin-top: 12px;
    margin-bottom: 12px;
}

.strategy-mid h1 a {
    color: #333;
}

.strategy-mid p {
    line-height: 18px;
}

.strategy-bot ul {
    font-size: 14px;
    line-height: 28px;
}

/*旅行攻略strategy推荐结束*/

/*图片add-img开始*/
.add-img1 {
    width: 260px;
    height: 260px;
    overflow: hidden;
    margin: 20px 0;
}

/*图片add-img结束*/

/*我的活动activity开始*/
.activity-content {
    margin-top: 10px;
}

.activity-content li {
    height: 40px;
    padding: 3px;
}

.activity-content li img {
    float: left;
}

.activity-font {
    margin-left: 10px;
}

.activity-font h1 {
    font-size: 14px;
    line-height: 20px;
}

.activity-font h2 {
    color: #666;
}

.activity-content li:hover {
    background-color: #c9c9c9;
}

/*我的活动activity结束*/

/*蚂蜂窝旅行网站最新进展evolve开始*/
.evolve {
    margin-top: 30px;
}

.evolve ul {
    margin-top: 10px;
}

.evolve li {
    height: 14px;
    padding: 7px 0;

}

.evolve a {
    color: #666666;
}

/*蚂蜂窝旅行网站最新进展evolve结束*/

/*主题部分结束*/

/*main-right开始*/
.mian-right {
    width: 700px;
    background-color: red;
    margin-left: 20px;
}

.main-r-img {
    padding-top: 20px;
}

.price {
    padding-top: 40px;
    font-size: 18px;
    font-weight: bold;
}

.top-price-list {
    height: 211px;
    width: 224px;
    margin-top: 5px;
    margin-left: 5px;
    float: left;
}

.top-img img {
    width: 220px;
    height: 135px;
    padding-top: 15px;
    position: relative;
}

h3 {
    height: 55px;
    font-size: 14px;
    font-weight: bold;
    padding-top: 5px;
}

.et-price {
    float: right;
    font-size: 14px;
}

.et-price em {
    height: 10px;
    font-size: 18px;
    color: #FF9D00;
}

.main-r-z .hd:hover {
    content: "";
    position: absolute;
    right: 0px;
    bottom: -8px;
    border-top: 4px solid #7e1811;
    border-right: 4px dashed transparent;
    overflow: hidden;
    line-height: 0;
    font-size: 0px;
}

.main-r-z .hd {
    position: absolute;
    top: 0px;
    right: -4px;
    height: 20px;
    line-height: 20px;
    padding: 0 10px;
    background-color: #ff6155;
    font-size: 14px;
    color: #fff;
    font-style: italic;
}

.main-r-z .info {
    position: absolute;
    left: 0px;
    right: 0px;
    bottom: 0px;
    height: 35px;
    background-color: rgba(255, 97, 85, .9);
    padding: 0 8px;
    line-height: 34px;
    color: #fff;
    font-size: 14px;
}

/*今日爆款*/

/*热门游记*/
.menu {
    float: left;
    width: 450px;
    padding-top: 40px;
    height: 20px;
    position: relative;
    z-index: 10;
}

.menu ul li {
    float: left;
}

.menu a {
    display: block;
    padding: 0 20px;
    font: 400 15px/44px "microsoft yahei";
    color: #333333;
}

.active a {
    font-size: 20px;
}

.menu li:hover {
    color: #ff9d00;
}

/*热门游记*/

/*游记照片及写真*/
.main-r-list {
    width: 700px;
    padding-top: 120px;
}

.tn-write {
    float: right;
    width: 140px;
}

.tn-write.btn-add {
    display: block;
    height: 36px;
    background-color: #ff9d00;
    color: #fff;
    text-align: center;
    border-radius: 4px;
}

.main-r-y {
    width: 690px;
    height: 150px;
    float: right;
    position: relative;
    padding: 10px 0 10px 10px;
    z-index: 10;
}

.main-r-y:hover {
    background-color: #DDDDDD;
}

/*.main-wrapper:hover{*/
/*background-color: #DDDDDD;*/
/*}*/
.main-r-p {
    width: 690px;
    height: 150px;
    float: right;
    /*background-color: pink;*/
    position: relative;
    padding: 10px 0 10px 10px;
    z-index: 10;
}

.main-r-p:hover {
    background-color: #DDDDDD;
}

.main-r-w {
    width: 690px;
    height: 150px;
    float: right;
    position: relative;
    padding: 10px 0 10px 10px;
    z-index: 10;
}

.main-r-w:hover {
    background-color: #DDDDDD;
}

.main-r-t {
    width: 690px;
    height: 150px;
    float: right;
    position: relative;
    padding: 10px 0 10px 10px;
    z-index: 10;
}

.main-r-t:hover {
    background-color: #ddd;
}

.list-img {
    float: left;
    width: 220px;
    height: 150px;
    overflow: hidden;
    position: relative;
}

.main-wrapper {
    float: right;
    width: 455px;
    height: 150px;
    /*margin-right:310px;*/
    overflow: hidden;
}

.main-r-list {
    line-height: 60px;
}

.main-r-t dl {
    height: 117px;
    overflow: hidden;
}

.main-r-list dt {
    height: 26px;
    margin-bottom: 10PX;
    font-size: 18px;
    line-height: 26px;
}

.main-r-list dt a {
    /*width: 420px;*/
    height: 26px;
    display: block;
    color: #333;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;

}

.main-r-list dd {
    height: 60px;
    line-height: 20px;
    margin-right: 30px;
    font-size: 14px;
    overflow: hidden;
    margin-left: 10px;
}

.main-r-list dd a {
    color: #666;
}

a {
    background-color: transparent;
    text-decoration: none;
    cursor: pointer;
}

/*每个下面消息的样式*/
.tn-extra {
    width: 430px;
    height: 50px;
    position: absolute;
    top: 100px;
    left: 245px;
}

/*.tn-extra2{*/
/*width: 430px;*/
/*height: 50px;*/
/*position: absolute;*/
/*top : 100px;*/
/*left : 245px;*/
/*}*/
.tn-extra a {
    color: #666;
}

.tn-extra a:hover {
    color: #ff9d00;
}

.tn-extra-one i {
    width: 14px;
    height: 17px;
    margin: 20px 6px 0 0;
    background: url("../images/index-sprites3.png") no-repeat 0 -50px;
    display: inline-block;
    float: left;
}

.tn-extra-one p {
    float: left;
}

.tn-extra-two i {
    width: 16px;
    height: 16px;
    display: inline-block;
    margin: 20px 5px 0 10px;
    float: left;
}

.tn-extra-two1 i {
    background: url("../images/tn-extra1.jpg") no-repeat;
}

.tn-extra-two2 i {
    background: url("../images/tn-extra2.jpg") no-repeat;
}

.tn-extra-two3 i {
    background: url("../images/tn-extra1.jpg") no-repeat;
}

.tn-extra-two4 i {
    background: url("../images/tn-extra2.jpg") no-repeat;
}

.tn-extra-two5 i {
    background: url("../images/tn-extra1.jpg") no-repeat;
}

.tn-extra-two6 i {
    background: url("../images/tn-extra1.jpg") no-repeat;
}

.tn-extra-two7 i {
    background: url("../images/tn-extra1.jpg") no-repeat;
}

.tn-extra-two8 i {
    background: url("../images/tn-extra1.jpg") no-repeat;
}

.tn-extra-two9 i {
    background: url("../images/tn-extra1.jpg") no-repeat;
}

.tn-extra-two10 i {
    background: url("../images/tn-extra1.jpg") no-repeat;
}

.tn-extra-two11 i {
    background: url("../images/tn-extra1.jpg") no-repeat;
}

.tn-extra-two12 i {
    background: url("../images/tn-extra1.jpg") no-repeat;
}

.tn-extra-three i {
    width: 20px;
    height: 14px;
    background: url("../images/index-sprites3.png") no-repeat -27px -50px;
    display: inline-block;
    margin: 20px 5px 0 10px;
    float: left;
}

.tn-extra-three p {
    float: left;
}

.tn-extra-four p {
    color: #ff9d00;
    float: left;
}

.tn-extra-four i {
    width: 38px;
    height: 33px;
    background: url("../images/index-sprites3.png") no-repeat -59px 0px;
    display: inline-block;
    float: left;
    margin: 13px 0 0 5px;
}

/*游记照片及写真*/
/*下一页代码*/
.main-r-top {
    width: 397px;
    margin-left: 270px;
    font-size: 12px;
    position: relative;
}

.circle {
    position: absolute;
    float: left;
    bottom: -5px;
    line-height: 10px;
    display: block;
    left: 40%;
    visibility: visible;
}

.main-r-top li {
    float: left;
    padding: 5px;
    margin-left: 2px;
    border-radius: 5px;
}

.main-r-top .next-page {
    border-radius: 5px;
    padding: 5px;
    float: right;
    margin-top: -2px;
    font-size: 13px;
    color: #FFFFFF;
    background-color: #FF9D00;
}

.main-r-top span {
    margin-left: 60px;
}

.current {

    background-color: #FF9D00;

}

/*下一页代码*/
/*margin-right结束*/

/*旅游攻略开始*/
.Header {
    margin-bottom: 15px;
}

.wrapper {
    width: 980px;
    margin: 15px auto 0;
}

.gonglve_wrap {
    padding-bottom: 10px;
}

.focus {
    height: 340px;
    margin: 10px 0 15px;
}

.focus .slide {
    width: 700px;
    float: right;
    height: 340px;
    overflow: hidden;
    position: relative;
}

.focus .slide ul {
    width: 9999px;
    position: absolute;
    left: 0;
    top: 0;
}

.focus .slide ul li {
    float: left;
    width: 700px;
    height: 340px;
    overflow: hidden;
}

.focus .slide ol {
    position: absolute;
    right: 30px;
    bottom: 24px;
}

/*.focus .slide ol li {*/
/*float: left;*/
/*width: 20px;*/
/*height: 20px;*/
/*margin-left: 5px;*/
/*background: url("/images/gonglve/scroll_s.png") center 5px no-repeat;*/
/*text-indent: -10000px;*/
/*overflow: hidden;*/
/*cursor: pointer;*/
/*}*/

.da980 {
    position: relative;
}

.da980 .da-flip {
    width: 980px;
    height: 365px;
    position: absolute;
    top: -365px;
    left: 0;
    z-index: 99;
    display: none;
}

.da980:hover .da-flip {
    display: block;
}

/* mdd nav s */
.mdd_nav {
    float: left;
    width: 260px;
}

.mdd_nav .inner {
    position: relative;
    zoom: 1;
    z-index: 10;
    border-top: 1px #ddd solid;
}

.mdd_nav dl {
    height: 40px;
    border: 1px solid #ddd;
    border-top: 0 none;
    font-size: 14px;
}

.mdd_nav dl.hover {
    border-top: 1px solid #ffc74f;
    margin-top: -1px;
    border-color: #ffc74f;
}

.mdd_nav dl.hover dt {
    background: #fff url(/images/gonglve/dt_bg.gif) no-repeat 0 -41px;
    width: 239px;
    z-index: 100;
    width: 249px;
    margin-right: -1px;
    color: #FFA801;
}

.mdd_nav dl.hover dd {
    display: block;
}

.mdd_nav dt strong {
    float: left;
    padding-left: 15px;
    font-weight: normal;
}

.mdd_nav dd a {
    color: #666;
}

.mdd_nav dd p a {
    display: inline-block;
    width: 195px;
    color: #666;
    font-size: 14px;
}

.mdd_nav dd p a:hover {
    color: #9B5128;
}

.mdd_nav dd.short p a {
    width: 95px;
}

.mdd_nav dd em {
    font-size: 12px;
    font-style: normal;
}

.mdd_nav dd .extra {
    margin-top: 5px;
    padding: 5px 0;
    border-top: 1px dashed #dbdbdb;
    text-align: center;
}

.mdd_nav dd .extra a {
    color: #E58A00;
}

.mdd_nav dd {
    background-color: #FFFFFF;
    border: 1px solid #FFAA00;
    display: none;
    left: 248px;
    line-height: 25px;
    padding: 5px 15px 7px;
    position: absolute;
    top: -1px;
    width: 400px;
    z-index: 98;
}

.mdd_nav dd.new_nav strong {
    border-right: 1px solid #CBCBCB;
    color: #666666;
    float: left;
    height: 16px;
    line-height: 16px;
    margin: 5px 10px 0 0;
    padding-right: 5px;
    text-align: right;
    width: 65px;
}

.mdd_nav dd.new_nav p {
    float: left;
    line-height: 25px;
    width: 400px;
    margin-left: 30px;
    display: inline;
}

.mdd_nav dd.new_nav p a {
    display: inline-block;
    margin-right: 5px;
    width: auto;
    font-size: 12px;
}

.mdd_nav dd.new_nav {
    font-size: 12px;
    padding: 5px 0px 11px 0px;
    width: 500px;
}

.zhuti_title {
    margin: 10px 0px;
}

.zhuti_title h3 {
    float: left;
    font-size: 16px;
    color: #666;
    line-height: 16px;
    margin-left: 30px;
    margin-top: 2px;
    display: inline;
    _line-height: 18px;
}

/* 攻略专题 zhoushengxue 3013-04-09-8 */
.gonglve-nav {
    border: 1px solid #ddd;
    border-bottom: 0;
    box-shadow: 0 0.5px 2px rgba(0, 0, 0, 0.1);
    position: relative;
    z-index: 10;
}

.gonglve-nav .nav-title {
    height: 40px;
    padding: 0 15px;
    border-bottom: 1px solid #ddd;
    background-color: #fff;
    line-height: 40px;
    font-size: 14px;
    color: #666;
    cursor: default;
    position: relative;
    z-index: 2;
}

.gonglve-nav .hover .nav-title {
    margin-right: -1px;
    color: #ff8a00;
}

.gonglve-nav .hover .nav-title .gn-arrow {
    background-position: -5px 0;
}

.gonglve-nav .nav-panel {
    position: absolute;
    left: 259px;
    top: -1px;
    border: 1px solid #ddd;
    background-color: #fff;
    display: none;
}

.gonglve-nav .hover .nav-panel {
    display: block;
}

.gonglve-nav .nav-panel a {
    color: #999;
}

.gonglve-nav .nav-panel a:hover {
    color: #ffa800;
}

.gonglve-nav .rank-panel {
    width: 498px;
    height: 340px;
    border: 0;
    _overflow: hidden;
}

.gonglve-nav .rank-panel ol {
    position: absolute;
    z-index: 2;
    padding: 15px 10px;
    width: 260px;
    line-height: 30px;
}

.gonglve-nav .rank-panel li {
    height: 30px;
    overflow: hidden;
}

.gonglve-nav .rank-panel .rank-num {
    float: left;
    width: 30px;
    font-size: 20px;
    font-family: Letter Gothic Std, Verdana, Geneva, sans-serif;
    text-align: right;
    color: #aaa;
    font-weight: bold;
}

.gonglve-nav .rank-panel .top3 .rank-num, .gonglve-nav .rank-panel .top3 strong a {
    color: #ffa800;
}

.gonglve-nav .rank-panel strong {
    padding: 0 15px;
    font-size: 14px;
    font-weight: normal;
    color: #666;
}

.gonglve-nav .rank-panel strong a {
    color: #666;
}

.gonglve-nav .nav-banner {
    position: absolute;
    _top: 1px;
    z-index: 1;
    width: 506px;
    height: 345px;
    background-repeat: no-repeat;
    background-position: right bottom;
}

.gonglve-nav .nav-banner a {
    display: block;
    width: 235px;
    height: 340px;
    float: right;
    margin-right: 7px;
}

.gonglve-nav .nav-banner a:focus {
    outline: none;
}

.gonglve-nav .category-panel {
    width: 498px;
    padding: 10px 0;
    left: 258px;
}

.category-panel dl {
    margin: 0 0 0 20px;
    padding-left: 60px;
    border: 0;
    font-size: 12px;
    width: auto;
    height: auto;
    line-height: 20px;
}

.category-panel dt {
    float: left;
    display: inline;
    width: 60px;
    height: 20px;
    background: none;
    margin: 5px 0 5px -60px;
    font-weight: bold;
    white-space: nowrap;
    overflow: hidden;
    line-height: 20px;
    font-size: 12px;
    cursor: default;
    color: #666;
    font-weight: bold;
}

.gonglve-nav .category-panel dt a {
    color: #666;
}

.category-panel dd {
    display: inline;
    position: static;
    border: 0;
    width: auto;
    padding: 0;
    float: left;
    margin: 5px 15px 5px 0;
    height: 20px;
    overflow: hidden;
    white-space: nowrap;
    line-height: 20px;
}

.input_like {
    border: 2px #FFA800 solid;
    height: 40px;
    margin-top: 10px;
    position: relative;
    z-index: 10;
}

.input_like input {
    height: 30px;
    line-height: 30px;
    float: left;
    width: 206px;
    padding: 3px 0px;
    border: 0px;
    font-size: 12px;
    color: #888888;
    margin-left: 8px;
    margin-top: 2px;
    outline: none;
    font-family: "Microsoft Yahei", Tahoma, Arial, Helvetica, STHeiti;
    _font-family: Tahoma, Arial, Helvetica, STHeiti;
}

.search_resu {
    border: 1px #FFA800 solid;
    width: 518px;
    position: absolute;
    z-index: 50;
    top: 41px;
    left: -2px;
    background: #fff;
    padding-bottom: 30px;
    display: none;
}

.search_resu ul {
    padding-top: 10px;
}

.search_resu ul li {
    width: 130px;
    float: left;
    height: 20px;
    line-height: 20px;
    margin-left: 30px;
    margin-top: 16px;
    display: inline;
    overflow: hidden;
}

.search_resu ul li strong {
    font-size: 16px;
}

.search_resu ul li a {
    color: #FFA801;
}

.search_resu ul li em {
    font-style: normal;
    font-size: 14px;
    color: #666;
    cursor: pointer;
}

.search_resu ul li a:hover {
    text-decoration: none;
}

.app_d {
    border-bottom: 1px #E3E3E3 solid;
    height: 50px;
    overflow: hidden;
    padding-bottom: 14px;
    margin-top: 15px;
}

.app_d h3 {
    float: left;
    height: 50px;
    width: 50px;
    overflow: hidden;
}

.domn_in {
    float: left;
    width: 180px;
    margin-left: 18px;
    display: inline;
}

.domn_in h4 {
    font-size: 16px;
    color: #414141;
    line-height: 18px;
    font-weight: normal;
    margin-top: 5px;
}

.domn_in p {
    margin-top: 8px;
}

.domn_in p a {
    float: left;
    color: #666;
    line-height: 14px;
}

.domn_in p span {
    float: left;
    color: #D8D8D8;
    height: 12px;
    width: 2px;
    line-height: 14px;
    padding: 0px 5px;
    overflow: hidden;
}

.domn_in p a:hover {
    color: #FFA801;
}

.gl_nav {
    line-height: 16px;
    color: #666666;
    margin-top: 35px;
    margin-bottom: 15px;
}

.gl_nav a {
    float: left;
    font-size: 16px;
    color: #FFA801;
}

.gl_nav span {
    float: left;
    font-size: 18px;
    margin-left: 12px;
}

.gl_nav strong {
    float: left;
    font-size: 16px;
    font-weight: normal;
    margin-left: 12px;
}

.gl_wrap {
    height: 35px;
    border-bottom: 1px #E3E3E3 solid;
    width: 980px;
    padding-bottom: 8px;
    margin-top: 5px;
    overflow: hidden;
}

.gl_wrap h3 {
    float: left;
    font-size: 14px;
    color: #333;
    line-height: 16px;
    margin-top: 7px;
}

.gl_wrap h3 a {
    color: #333;
}

.gl_wrap h3 a:hover {
    color: #FFA801;
}

.gl_wrap ol {
    float: left;
    width: 790px;
    margin-left: 8px;
    height: 28px;
    margin-top: 5px;
    display: inline;
    overflow: hidden;
}

.gl_wrap ol li {
    float: left;
    height: 22px;
    margin-left: 5px;
    margin-top: 5px;
    display: inline;
    white-space: nowrap;
}

.gl_wrap ol li a {
    display: block;
    float: left;
    height: 22px;
    line-height: 22px;
    color: #666;
    padding: 0px 8px;
}

.gl_wrap ol li a:hover {
    color: #fff;
    background: #FFA800;
    text-decoration: none;
}

.gl_wrap ol li .youth {
    color: #ffa800;
}

.gl_wrap ol li .youth:hover {
    background: #FFA800;
    color: #fff;
}

.gl_wrap ol li a.onfs {
    color: #fff;
    background: #FFA800;
}

.gl_wrap span {
    float: left;
    width: 42px;
    height: 16px;
    margin-left: 10px;
    margin-top: 7px;
}

.gl_wrap1 ol {
    height: auto;
    overflow: visible;
}

.gl_wrap.sub {
    width: auto;
    padding: 5px 0 8px 58px;
    margin-top: 0;
    background-color: #f3f3f3;
}

.p_upw {
    margin-top: 30px;
    width: 100%;
    height: 25px;
}

.uptime_p {
    float: left;
    margin-top: 5px;
    _width: 200px;
}

.uptime_p a {
    float: left;
    font-size: 14px;
    color: #666;
    line-height: 16px;
    padding-bottom: 4px;
}

.uptime_p a:hover {
    color: #FFA800;
    border-bottom: 2px #FFA800 solid;
    text-decoration: none;
}

.uptime_p span {
    float: left;
    color: #D8D8D8;
    padding: 0px 12px;
}

.uptime_p a.upt_on {
    color: #FFA800;
    border-bottom: 2px #FFA800 solid;
}

.mfw_de {
    float: right;
    height: 28px;
    padding: 0px 28px;
    background: #F1F1F1;
    border-radius: 30px;
}

.mfw_de p {
    line-height: 28px;
    color: #666;
}

.mfw_de p span {
    color: #FFA800;
}

.gl_fw {
    border-bottom: 1px #E4E4E4 dotted;
    width: 980px;
    overflow: hidden;
    padding-bottom: 25px;
    margin-top: 25px;
}

.gl_cw {
    width: 1020px;
}

.gl_list {
    width: 130px;
    float: left;
    margin-right: 40px;
}

.gl_list a {
    display: block;
    height: 184px;
    width: 130px;
    overflow: hidden;
}

.down_cout {
    height: 24px;
    width: 130px;
    background: #EBEBEB;
    border-radius: 30px;
    margin-top: 5px;
    position: relative;
}

.down_cout p {
    line-height: 24px;
    color: #666;
    padding-left: 30px;
}

.update_time {
    margin-top: 5px;
    text-align: center;
    font-size: 10px;
}

.show_more {
    text-align: center;
    border-bottom: 1px #E4E4E4 dotted;
    padding: 10px 0;
}

/*轮播图css*/
.uptime_p a.upt_on {
    color: #FFA800;
    border-bottom: 2px #FFA800 solid;
}

/*旅游攻略结束*/
/*主页结束*/

/*酒店页面开始*/
.hotel-title {
    width: 100%;
}

.hotel-title .hotel-title-h2 {
    margin-bottom: 15px;
    padding-left: 5px;
    line-height: 24px;
    font-size: 24px;
    color: #c9c9c9;
    font-weight: normal;
}

.hotel-title .hotel-title-h2 span {
    line-height: 30px;
    font-size: 18px;
}

/*.hotel-title .hotel-title-h2 em {*/
/*font-style: normal;*/
/*color: #0a89e4;*/
/*}*/

/*酒店搜索部分*/
.hotel-left {
    width: 532px;
}

.search-title li {
    height: 30px;
    line-height: 30px;
    padding: 0 30px;
    float: left;
    color: white;
    font-size: 16px;
    border-radius: 5px 5px 0 0;
}

.fistul li:first-child {
    background-color: #0a89e4;
}

.fistul li:last-child {
    margin-left: 10px;
    padding: 5px 0px 0;
}

.lastul li:first-child {
    display: block;
    float: left;
    height: 30px;
    background: url("../images/airbnb-icon.png");
    padding: 0 40px 0;
}

.lastul li:last-child a {
    display: block;
    float: left;
    width: 17px;
    height: 17px;
    position: relative;
    background: url("../images/airbnb-icon.png") no-repeat -80px 0;
}

.lastul li:last-child span {
    /*display: block;*/
    display: none;
    width: 275px;
    /*height: 60px;*/
    position: relative;
    overflow: hidden;
    margin-top: -71px;
    margin-left: -138px;
}

.lastul li:last-child span p {
    width: 265px;
    background: rgba(0, 0, 0, 0.8);
    font-size: 12px;
    line-height: 20px;
    color: #fff;
    border-radius: 5px;
    padding: 5px;
}

.lastul li:last-child span font {
    display: block;
    width: 20px;
    height: 10px;
    overflow: hidden;
    position: relative;
    left: 50%;
}

.lastul li:last-child span font i {
    display: block;
    width: 10px;
    height: 10px;
    background: rgba(0, 0, 0, 0.8);
    transform: rotate(45deg);
    position: absolute;
    top: -5px;
    left: 2px;
}

.search-main {
    width: 522px;
    padding: 5px;
    background-color: #0a89e4;
}

.search-main input {
    width: 506px;
    height: 44px;
    border: 3px solid #0978c8;
    padding-left: 10px;
    font-size: 14px;
}

.hotel-data .hotel-enter {
    margin-right: 10px;
    margin-top: 10px;
}

.hotel-data .hotel-enter h1 {
    font-size: 18px;
    color: #0a89e4;
    margin-left: 10px;
}

.hotel-data .hotel-enter .hotel-enter-data {
    width: 107px;
    height: 38px;
    border: 1px solid #ccc;
    position: relative;
}

.hotel-data .hotel-enter .hotel-enter-data i {
    display: block;
    width: 16px;
    height: 16px;
    background: url("../images/header-sprites7.png") no-repeat 0 -140px;
    position: absolute;
    top: 11px;
    right: 9px;
}

.hotel-left .hotel-map {
    margin-top: 35px;
    margin-right: 10px;
}

.hotel-left .hotel-map img {
    border: 2px solid #41a2e9;
}

.hotel-left .hotel-sousuo {
    width: 107px;
    height: 38px;
    line-height: 38px;
    background: #4eadf2;
    border: 1px solid #41a2e9;
    margin-top: 35px;
    font-size: 18px;
    color: white;
    text-align: center;
    border-radius: 2px;
}

.hotel-left .hotel-sousuo:hover {
    background-color: #0a89e4;
    border: 1px solid #0a89e4;
}

.hotel-right {
    width: 420px;
}

.hotel-right dl {
    height: 35px;
    /*margin: 10px 0;*/
}

.hotel-right dt {
    font-size: 18px;
    float: left;
    line-height: 24px;
    margin-right: 10px;
}

.hotel-right dt a {
    color: #ff8a00;
}

.hotel-right dd {
    float: left;
    font-size: 14px;
    color: #dcdcdc;
    line-height: 24px;
}

.hotel-right dd a {
    color: #333;
}

.hotel-right dd em {
    text-align: center;
    margin: 0 5px;
}

.hotel-img {
    margin-top: 80px;
}

.hotel-text h1 {
    font-size: 26px;
    line-height: 30px;
    text-align: center;
}

.hotel-text h2 {
    font-size: 14px;
    line-height: 20px;
    text-align: center;
}

.hotel-pic {
    width: 1300px;
    margin: 50px auto 0;
    background-color: pink;
    height: 400px;
    overflow: hidden;
}

.hotel-pic ul {
    width: 1500px;
}

.hotel-pic li {
    float: left;
    width: 450px;
    height: 400px;
    position: relative;
    left: 0px;
    overflow: hidden;
}

.hotel-pic li a {
    display: inline-block;
    width: 100%;
    height: 100%;
    position: absolute;
    z-index: 1;
    color: white;
    text-align: center;
    text-decoration: none;
}

.hotel-pic li a h1 {
    font-size: 50px;
    margin-top: 160px;
}

.hotel-pic li a h2 {
    font-size: 20px;
    margin-bottom: 15px;
}

.hotel-pic li a h3 {
    font-size: 20px;
    font-weight: normal;
}

.hotel-pic li img {
    width: 674px;
    margin: 0 auto;
    position: absolute;
}

.hotel-pic li:nth-of-type(1) img {
    left: -40px;
}

.hotel-pic li:nth-of-type(2) img {
    left: -79px;
}

.hotel-pic li:nth-of-type(3) img {
    left: -230px;
}

/*酒店页面结束*/

/*自由行页面开始*/
/*大图片开始*/
.destination-banner {
    border: 0;
    width: 1349px;
    height: 600px;
    position: relative;
    margin: 0 auto;
}

.destination-banner-main {
    position: relative;
}

.destination-banner-img {
    height: 600px;
    width: 100%;
    overflow: hidden;
}

.destination-banner-img img {
    width: 1349px;
    height: 600px;
    /*width: 100%;*/
    /*height: auto;*/
    position: relative;
}

/*大图片结束*/
/*图片中的文字开始*/
.banxin {
    width: 1000px;
    margin-left: 50%;
    position: absolute;
    top: 0px;
    left: -500px;
}

.destination-banner-left {
    width: 360px;
    background: rgba(0, 0, 0, .4);
    margin-top: 300px;
    transform: translate(0, -50%);
    position: absolute;
    top: 0px;
    left: 0;
    padding: 20px 15px;
    border-radius: 5px;
}

.banner-left-title h1 {
    font-size: 20px;
    color: #fff;
    margin-bottom: 15px;
    font-weight: normal;
    line-height: 1;
    font-family: "Microsoft Yahei";
}

.banner-left-input input {
    float: left;
    width: 268px;
    height: 36px;
    margin: 0 6px 0 0;
    padding: 0 20px;
    background-color: #fff;
    border: 0 none;
    line-height: 36px;
    font-size: 16px;
    color: #111;
    border-radius: 4px;

}

.banner-left-input a {
    float: left;
    display: block;
    padding: 5px;
    background: #ff9d00;
    border-radius: 3px;
}

.banner-left-input i {
    display: block;
    width: 25px;
    height: 25px;
    background: url("../images/jltu.png") 0 -111px;
}

.destination-banner-right {
    width: 550px;
    height: 140px;
    margin-top: 250px;
    transform: translate(0, -50%);
    position: absolute;
    top: 0px;
    right: 0px;
}

.destination-banner-right .destination-banner-right-img {
}

.destination-banner-right .destination-banner-right-text {
    width: 93%;
    text-align: right;
    margin-top: 40px;
}

.destination-banner-right .destination-banner-right-img img {
    height: 180px;
    width: auto;
}

.destination-banner-right-one a {
    display: block;
    float: right;
    width: 50px;
    height: 50px;
    background: #fff;
    text-align: center;
    color: #666;
    font-size: 20px;
    line-height: 20px;
    border-radius: 5px;
    padding: 5px;
}

.destination-banner-right-one b {
    font-size: 34px;
    line-height: 30px;
}

.destination-banner-right-one a:hover {
    text-decoration: none;
}

.destination-banner-right-one h2 {
    float: right;
    font-size: 28px;
    font-weight: 700;
    color: white;
    margin-top: 10px;
    margin-left: 15px;
}

/*.destination-banner-right-one a:hover>h2{*/
     /*color:#FF9D00;*/
 /*}*/

.destination-banner-right-one h2:hover {
    color:#FF9D00;
    cursor: pointer;
}

.destination-banner-right-two {
    font-size: 16px;
    color: #fff;
    margin-top: 10px;
    margin-bottom: 20px;
}

.destination-banner-right-two i {
    color: #ff9d00;
}

.destination-banner-right-three {
    font-size: 18px;
    margin-top: 10px;
    /*margin-bottom: 20px;*/
}

.destination-banner-right-three span {
    color: #fff;
    /*text-overline: ;*/
}

.destination-banner-right-three a {
    color: #fff;
    text-decoration: underline;
}

.destination-banner-right-three a:hover {
    color: #FF9D00;
}

.destination-banner-img-bottom {
    width: 100%;
    position: absolute;
    bottom: 20px;
}

.destination-banner-nextpage {
    margin-left: 50%;
    position: relative;
    left: -10px;
}

.destination-banner-nextpage a {
    display: block;
    width: 40px;
    height: 20px;
    background: url("../images/place-sprites3.png") -30px -60px;
}

.destination-banner-icon {
    float: right;
}

.destination-banner-icon i {
    display: block;
    float: left;
    width: 25px;
    height: 25px;
    background: url("../images/place-sprites3.png") no-repeat;
    margin-left: 15px;
}

.destination-banner-icon a {
    display: block;
    width: 100%;
    height: 100%;
}

.destination-banner-icon i:nth-child(2) {
    background-position: -30px 0;
}

.destination-banner-icon i:nth-child(3) {
    background-position: -60px 0;
    margin-right: 50px;
    position: relative;
}

.destination-banner-icon i:nth-child(3) a {
    position: absolute;
    top: 9px;
    left: 6px;
    color: white;
}

/*图片中的文字结束*/

/*自由行页面结束*/

/*玩法路线destination-line开始*/
.destination-line {
    color: #000;
    width: 100%;
    position: relative;
    top: 0px;
    padding: 20px 0px;
    border-bottom: 1px solid #ccc;
}

.destination-line1 {
    background: #fff;
}

.destination-line-title {
    margin-top: 10px;
    text-align: center;
    font-size: 16px;
    line-height: 24px;
}

.destination-line-title h1 {
    font-size: 26px;
    color: #333;
    line-height: 26px;
    margin-bottom: 8px;
}

/*玩法路线destination-line结束*/
.destination-line-list {
    position: relative;
    height: 67px;
    margin-bottom: 30px;
}

.destination-line-list ul {
    position: absolute;
    left: -240px;
    margin: 0 auto;
    margin-left: 50%;
}

.destination-line-list li {
    width: 160px;
    float: left;
    padding: 10px 0;
    text-align: center;
    border-bottom: 1px solid #ccc;
}

.destination-line-list li a {
    display: block;
    padding: 10px 0;
    color: #333;
    font-size: 20px;
    text-align: center;
    text-decoration: none;
}

.destination-line-list li a:hover {
    color: #ff9d00;
}

/*切换的图片*/
.destination-line-list-img {

}

.destination-line-list-img li {
    display: none;
}

.destination-line-list-img li:nth-child(1) {
    display: block;
}
.destination-line-list-img-block{
    display: block;
}

/*.line-list-img img{
  float: left;
  margin-bottom: 15px;
}*/
/*.line-list-img img:nth-child(2){
  float: right;
}
.line-list-img img:nth-child(3),
.line-list-img img:nth-child(4){
  margin-right: 15px;
}*/
/*图片上的遮罩层*/
.line-list-img-one {
    float: left;
    position: relative;
    margin-bottom: 15px;
    overflow: hidden;
}

.line-list-img .line-list-img-one:nth-child(2) {
    float: right;
}

.line-list-img .line-list-img-one:nth-child(3),
.line-list-img .line-list-img-one:nth-child(4) {
    margin-right: 15px;
}

.line-list-text {
    width: 100%;
    height: 100%;
    position: absolute;
    bottom:-215px;
    background: rgba(0,0,0,0.2);
}

.line-list-text-left {
    border-right: 2px solid #fff;
    padding-right: 5px;
}

.line-list-text-left a {
    background: transparent;
    color: #fff;
}

.line-list-text-right {
    margin-top: -5px;
    margin-left: 20px;
}

.line-list-text-right h1 {
    line-height: 46px;
    height: 46px;
    white-space: nowrap;
    text-overflow: ellipsis;
    font-size: 24px;
    color: #fff;
    /*width: 200px;*/
    /*overflow: hidden;*/
}

.line-list-text-right h2 {
    font-size: 14px;
    color: #fff;
    width: 200px;
    height: 20px;
    overflow: hidden;
}

.line-list-img .line-list-img-one:nth-child(3) .line-list-text-right h1{
    width: 150px;
    overflow: hidden;
}

.line-list-text-bottom {
    margin-top: 75px;
    margin-right: 20px;
}

.line-list-text-bottom p {
    color: #fff;
    margin-left: 10px;
    font-size: 14px;
    width: 100%;
    overflow: hidden;
}


/*destination-line2时令推荐开始*/
.destination-line2 {
    background: #fafafa;
}
/*destination-line2时令推荐结束*/

/*全球目的地开始global-city开始*/
.global-city{

}
.global-city .global-city-list{
    margin-top: 30px;
    min-height: 400px;
    /*background: pink;*/
}
.global-city .global-city-list h1{
    font-size: 32px;
    /*margin-bottom: 25px;*/
    line-height: 30px;
    /*background: skyblue;*/
}
.global-city .global-city-list .item{
    margin-top: 25px;
    margin-bottom: 40px;
}
.global-city .global-city-list span{
    font-size: 14px;
    color: #a8a8a8;
}
.hd .item .sub-title{
    margin-bottom: 15px;
    font-size: 20px;
    line-height: 22px;
}
.item .item-list{
    overflow: hidden;
    margin-bottom: 60px;
}
.item .item-list ul{
    float: left;
    width: 282px;
    padding-left: 30px;
    display: inline;
    line-height: 30px;
    font-size: 14px;
    overflow: hidden;
}
/*亚洲*/
.hd .item .item-list:nth-child(2) ul:nth-child(1){
    height: 455px;
}
.hd .item .item-list:nth-child(2) ul:nth-child(2){
    height: 900px;
    margin-top: -455px;
}
.hd .item .item-list:nth-child(2) ul:nth-child(3){
    height: 1345px;
    margin-top: -900px;
}
/*北美洲*/
.hd .item .item-list:nth-child(4) ul:nth-child(1){
    height: 243px;
}
.hd .item .item-list:nth-child(4) ul:nth-child(2){
    height: 483px;
    margin-top: -243px;
}
.hd .item .item-list:nth-child(4) ul:nth-child(3){
    height: 729px;
    margin-top: -480px;
}
/*南美洲*/
.hd .item .item-list:nth-child(6) ul:nth-child(1){
    height: 120px;
}
.hd .item .item-list:nth-child(6) ul:nth-child(2){
    height: 240px;
    margin-top: -120px;
}
.hd .item .item-list:nth-child(6) ul:nth-child(3){
    height: 360px;
    margin-top: -240px;
}
/*欧洲*/
.hd .item .item-list:nth-child(8) ul:nth-child(1){
    height: 480px;
}
.hd .item .item-list:nth-child(8) ul:nth-child(2){
    height: 960px;
    margin-top: -480px;
}
.hd .item .item-list:nth-child(8) ul:nth-child(3){
    height: 1440px;
    margin-top: -960px;
}



.hd .item li.letter{
    width: 30px;
    height: 30px;
    float: left;
    margin-left: -30px;
    font-size: 20px;
    font-family: Centaur,Times New Roman;
    text-transform: uppercase;
}
.hd .item .item-list li a{
    color: #666;
}
.hd .item .item-list li span{
    color: #a8a8a8;
    font-family: Arial;

}
.hd .item .item-list li s {
    margin-left: 20px;
}

/*全球目的地开始global-city结束*/




