@charset "UTF-8";
/*css 初始化 */
html, body, ul, li, ol, dl, dd, dt, p, h1, h2, h3, h4, h5, h6, form, fieldset, legend, img {
    margin: 0;
    padding: 0;
}

fieldset, img, input, button {
    /*fieldset组合表单中的相关元素*/
    border: none;
    padding: 0;
    margin: 0;
    outline-style: none;
}

ul, ol {
    list-style: none; /*清除列表风格*/
}

input {
    padding-top: 0;
    padding-bottom: 0;
    font-family: "SimSun", "宋体";
}

select, input {
    vertical-align: middle;
}

select, input, textarea {
    font-size: 12px;
    margin: 0;
}

textarea {
    resize: none;
}

/*防止多行文本框拖动*/
img {
    border: 0;
    vertical-align: middle;
}

/*  去掉图片低测默认的3像素空白缝隙*/
table {
    border-collapse: collapse; /*合并外边线*/
}

body {
    font-family: Arial, 'Microsoft Yahei';
    font-size: 12px;
    color: #666;
}

.clearfix:before, .clearfix:after {
    content: "";
    display: table;
}

.clearfix:after {
    clear: both;
}

.clearfix {
    *zoom: 1;
}
/*.clearfix:after{
  content: "";
  height: 0;
  line-height: 0;
  display: block;
  visibility: hidden;
  clear: both;
  overflow: hidden;
}
.clearfix{
  *zoom:1;
}*/

a {
    background-color: transparent;
    text-decoration: none;
    color: #ff9d00;
    cursor: pointer;
}

a:hover {
    outline: 0;
    text-decoration: underline;
    color: #ff8a00;
}

h1, h2, h3, h4, h5, h6 {
    text-decoration: none;
    font-weight: normal;
    font-size: 100%;
}

s, i, em {
    font-style: normal;
    text-decoration: none;
}

/*公共类*/
.w {
    width: 1000px;
    margin: 0 auto;
}

.fl {
    float: left;
}

.fr {
    float: right;
}
.show{
    display: block;
}

.hide{
    display: none;
}
.err{
    color: red;
    /*float: left;*/
    margin-left: 30px;
}


/*顶部导航开始*/
.top {
    height: 58px;
    line-height: 58px;
    position: relative;
    /*position: absolute;*/
    top: 0;
    left: 0;
}
.top1{
    /*background: transparent;*/
    width: 100%;
    z-index: 1;
    margin: 0 auto;
    position: absolute;

}
.top1 ul li a{
    color: white;
}
.top:hover{
    background: #fff;
}
.top:hover ul li a{
    color: #000;
}

.shadow{
    position: absolute;
    left: 0;
    bottom: -2px;
    right: 0;
    width: 100%;
    height: 2px;
    border-top: 1px solid #d6d6d6;
    background-color: rgba(0,0,0,.06);
    overflow: hidden;
}

.logo {
    width: 154px;
    height: 42px;
    margin-top: 14px;
    background: url("../images/logo.png") no-repeat;
}
.logo-small{
    background: url("../images/logo-small.png") no-repeat;
}

.top:hover .logo-small{
    background: url("../images/logo.png") no-repeat;
}

.top-nav {
    margin-left: 25px;
}

.top-nav li {
    height: 51px;
    padding: 0 15px 3px 15px;
    float: left;
}

.top-nav li:hover {
    color: #ff9d00;
    border-bottom: 3px solid #ff9d00;
}
.border-focus li:hover{
     border-bottom: 0;
 }
.top-nav li a {
    display: block;
    font-size: 14px;
    color: #333;
    position: relative;
}

.top-nav ul li:hover a {
    color: #FF9D00;
}

.top-nav .one {
    background-color: #ff9d00;
    height: 54px;
}

.top-nav .one:hover {
    border-bottom: 0px;
}

.top-nav .one:hover a{
    color: #333;
}

.top-nav a {
    text-decoration: none;
}

.top-nav .one a {
    color: white;
}

.top-nav i {
    position: absolute;
    top: 28px;
    overflow: hidden;
    width: 12px;
    height: 17px;
    /*background-color: red;*/
}

.top-nav s {
    position: absolute;
    top: -28px;
    font-size: 19px;
}

.index-search{
    height: 58px;
    width: 150px;
    /*background-color: white;*/
    margin-left: 20px;
    position: relative;
}
.index-search input{
    border: 1px solid #efefef;
    background-color: #efefef;
    width: 110px;
    height: 28px;
    padding: 0 10px;
    line-height: 28px;
    font-size: 14px;
    color: #666;
    border-radius: 4px;
    position: absolute;
    top:15px;
}
.index-search a{
    display: block;
    /*position: fixed;*/
    position: absolute;
    top: 20px;
    /*right: 420px;*/
    right: 25px;
    width: 20px;
    height: 20px;
    background: url(../images/header-sprites7.png) -30px -110px;
    overflow: hidden;
}

.index-search .index-search-hover{
    border: 1px solid #ff9d00;
    box-shadow: 0px 0px 3px #ff9d00;
    background-color: white;
}
.index-search .index-search-hover-a{
    background-position: -30px -140px;
}


.login {  }

.jltu {
    margin-top: 14px;
    margin-right: 10px;
}

.top-sina {
    width: 30px;
    height: 30px;
    margin-left: 5px;
    background: url("../images/jltu.png") no-repeat 0 -47px;
}

.top-sina:hover {
    background-position: 0 -77px;
}

.top-qq {
    width: 30px;
    height: 30px;
    margin-left: 5px;
    background: url("../images/jltu.png") no-repeat -30px -47px;
}

.top-qq:hover {
    background-position: -30px -77px;
}

.top-weixin {
    width: 30px;
    height: 30px;
    margin-left: 5px;
    background: url("../images/jltu.png") no-repeat 0 -163px;
}

.top-weixin:hover {
    background-position: -30px -163px;
}

.top-font a {
    font-size: 14px;
    font-weight: 700;
}

.top-font i {
    color: #c9c9c9;
    padding: 0 10px;
}

/*顶部导航结束*/

/*意见反馈idea开始*/
.idea{
    width: 10px;
    height: 68px;
    background-color: #fff8e6;
    border: 1px solid #ffe0a6;
    border-radius: 5px 0 0 5px;
    padding: 10px;
    position: fixed;
    top:40%;
    right:0;
    z-index: 10;
    cursor: pointer;
}
.idea p{
    color: #ff9d00;
    font-weight: 700;
}
.idea:hover{
    background-color: #fff0ce;
}
.idea p:hover{
    color: orange;
}

.idea-mask{
    background:rgba(0,0,0,0.6) ;
    position: fixed;
    width: 100%;
    height: 100%;
    top: 0px;
    left: 0px;
    z-index: 11;
    /*overflow: hidden;*/
    display: none;
}
.ideaTab{
    width: 500px;
    padding: 22px 28px;
    background-color: white;
    margin: 100px auto;
    position: relative;
}
.ideaTit{
    font-size: 24px;
    color: #666;
    font-weight: normal;
}
.ideaDesc{
    font-size: 14px;
    color: #666;
    line-height: 22px;
    padding: 8px 0 15px;
    font-weight: normal;
}
.ideaForm{
    font-size: 14px;
    color: #582e09;
}
.ideaForm textarea{
    border: 1px solid #aebacd;
    font-size: 14px;
    height: 150px;
    line-height: 20px;
    margin-bottom: 10px;
    padding: 4px;
    resize: none;
    width: 480px;
    color: #666;
}
.FeedAct a {
    width: 76px;
    height: 28px;
    display: inline-block;
    font-size: 14px;
    color: #fff;
    background-color: #fcb309;
    font-weight: bold;
    text-align: center;
    line-height: 28px;
    border: 0;
    border-radius: 5px 5px 5px 5px;
}
.close-btn {
    width: 28px;
    height: 28px;
    line-height: 28px;
    border-radius: 14px;
    background-color: #c9c9c9;
    outline: 0;
    position: absolute;
    right: 5px;
    top: 5px;
    display: block;
    cursor: pointer;
    text-align: center;
}
.close-btn i{
    font-size: 20px;
    color: red;
    font-weight: 400;
}
/*意见反馈idea结束*/

/*底部版权开始*/
/*footer部分*/
/*.footer{*/
    /*width: 100%;*/
    /*background-color: #3C3C3C;*/
    /*margin-top: 50px;*/
    /*/!*width: 1351px;*!/*/
    /*height: 523px;*/
    /*/!*background: url("../images/footer.PNG") no-repeat;*!/*/
/*}*/
.footer {
    background-color: #3c3c3c;
    color: #c2c2c2;
    line-height: 22px;
    padding-bottom: 20px;
    font-size: 12px;
    margin-top: 50px;
}
.footer .ft-info {
    padding: 30px 8px 40px 8px;
    border-bottom: 1px solid #575a5b;
}
.footer .ft-info-col {
    float: left;
    display: inline;
}
.footer .ft-info-intro {
    width: 200px;
    margin-right: 68px;
}
.footer .ft-info dt {
    height: 30px;
    font-size: 14px;
    overflow: hidden;
}
.footer .ft-info-intro strong {
    color: #ff9d00;
    font-weight: normal;
}
.footer .ft-info-intro a{
    color: #ff9d00;
    font-weight: normal;
}
.footer .ft-info-about {
    width: 128px;
    margin-right: 85px;
}
.footer a {
    color: #c2c2c2;
}
.footer .ft-info-service {
    width: 135px;
    margin-right: 80px;
}
.footer .ft-info-service dt {
    text-align: center;
}
.footer .ft-info-service ul {
    margin-right: -35px;
}
.footer .ft-info-service li {
    float: left;
    width: 85px;
}
.footer .ft-info-qrcode {
    float: right;
    padding-top: 22px;
}
.footer .ft-info-qrcode dd {
    width: 100px;
    display: inline;
    margin-left: 30px;
    float: right;
    text-align: center;
}
.footer .ft-info-qrcode span {
    display: block;
    height: 90px;
    margin: 0 0 8px 6px;
}
.footer .ft-qrcode-tejia {
    background: url("../images/lpwx.png") no-repeat;
}
.footer .ft-qrcode-weixin{
    background: url("../images/lpwx.png") no-repeat;
}
.footer .ft-info-social {
    clear: both;
    text-align: center;
    padding-top: 25px;
}
.footer .ft-info-social dt {
    font-size: 16px;
}
.footer .ft-info-social dd {
    padding: 5px 0;
}
.footer .ft-info-social dd a {
    display: inline-block;
    margin: 0 6px;
}
.footer .ft-social-icon  {
    display: inline-block;
    width: 28px;
    height: 28px;
    background: url("../images/mfw-footer-sprite4.png") no-repeat 0 0;
    overflow: hidden;
}

.footer .ft-social-qqt .ft-social-icon {
    background-position: -30px 0;
}
.footer .ft-social-qzone .ft-social-icon {
    background-position: -60px 0;
}
.footer .ft-copyright {
    padding: 12px 0;
    margin-top: -1px;
    border-top: 1px solid #575a5b;
}
.footer .ft-safety {
    float: right;
    padding: 5px 8px 0 0;
}
.footer .ft-safety a {
    float: left;
    margin-left: 10px;
    width: 90px;
    height: 30px;
    background: url("../images/mfw-footer-sprite4.png") no-repeat 0 -70px;
    overflow: hidden;
}
.footer .ft-mfw-logo {
    float: left;
    margin: 2px 20px 0 0;
    width: 136px;
    height: 39px;
    background: url("../images/mfw-footer-sprite4.png") no-repeat 0 -30px;
    overflow: hidden;
}
/*底部版权结束*/

/*小象elephant开始*/
.elephant{
    width: 70px;
    height: 36px;
    background: url("../images/elephant.png") no-repeat  0 0;
    position: fixed;
    bottom: -36px;
    left: 50%;
    z-index: 100;
    /*display: none;*/
}
.waterLeft{
    display: none;
    width: 7px;
    height: 10px;
    background: url("../images/elephant.png") no-repeat -78px -40px;
    position: absolute;
    top:0px;
    left: 0px;
}
.waterRight{
    display: none;
    width: 7px;
    height: 10px;
    background: url("../images/elephant.png") no-repeat -78px -40px;
    position: absolute;
    top:0px;
    left: 0px;
}
/*.elephant:hover{
    transform: translate(-20px, -10px);
    transition: all 1s ease-in-out;
}*/
    .lwatercurrent{
        animation:lwater 1s linear infinite ;
    }
    .rwatercurrent{
        animation:rwater 1s linear infinite ;
    }
    @keyframes lwater{
        0%{
            transform: translate(0px, 0px);
            opacity: 1;
        }
        70%{
            transform: translate(-10px, -10px)rotate(-30deg);
            opacity: 1;
        }
        100%{
            transform: translate(-20px, -20px)rotate(-70deg);
            opacity: 0;
        }
    }
    @keyframes rwater{
        0%{
            transform: translate(0px, 0px);
            opacity: 1;
        }
        70%{
            transform: translate(10px, -10px)rotate(30deg);
            opacity: 1;
        }
        100%{
            transform: translate(20px, -20px)rotate(70deg);
            opacity: 0;
        }
    }
/*小象elephant结束*/

/*gotop返回顶部开始*/
.gotop{
    position: fixed;
    bottom: 100px;
    right: 50px;
}
.gotop li{
    display: block;
    width: 45px;
    height: 45px;
    border-left:1px solid #ccc;
    border-right:1px solid #ccc;
    border-bottom:1px solid #ccc;
    padding: 1px;
}

.gotop li:nth-child(1){
    border: 1px solid #ccc;
}
/*鼠标放上去，li的样式改变*/
.gotop li:hover{
    border: 0px none;
    padding: 0;
    width: 49px;
    height: 48px;
}
.gotop li a{
    display: block;
    overflow: hidden;
    height: 45px;
    position: relative;
    margin: 0 auto;
}
.gotop li a:hover{
    height: 48px;
}
.gotop li i{
    display: block;
    background: url("../images/gotop.png") no-repeat;
    margin: 0 auto;
}
.gotop li:nth-child(1) i{
    width: 21px;
    height: 12px;
    background-position: -60px -165px;
    margin-top: 16px;
}
.gotop li:nth-child(1) a:hover{
     background: #aaa;
     color: #fff;
 }
.gotop li:nth-child(2) i{
    width: 18px;
    height: 18px;
    background-position: -90px -165px;
    margin-top: 13px;
}
.gotop li:nth-child(2) a:hover{
    background: #aaa;
    color: #fff;
}
.gotop li:nth-child(3) i{
    width: 19px;
    height: 19px;
    background-position: -120px -165px;
    margin-top: 13px;
}
.gotop li:nth-child(3) a:hover{
    background: #FF9D00;
    color: #fff;
}
.gotop li em{
    display: none;
    /*display: block;*/
    width: 35px;
    font-size: 12px;
    line-height: 16px;
    color: #fff;
    position: absolute;
    left: 12px;
    top: 8px;
    z-index: 2;
}
.gotop li a:hover em{
    display: block;
}
/*gotop返回顶部结束*/